@import "tailwindcss";

.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: #374151 #111827;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #111827;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
